
.hero-area{

    padding-top: 100px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 49%, rgba(253,187,45,1) 100%);
    color: #ffffff;
    min-height: 400px;
}

footer{
    background-color: rgb(34,193,195);
    colour: #fff;
}